<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <title>Gentle Gourmet | Checkout</title>
  <!-- Viewport-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon -->
  <link rel="shorcut icon" th:href="@{/img/etc/vegan-logo3.png}">
  <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
  <link rel="stylesheet" media="screen" th:href="@{/vendor/simplebar/dist/simplebar.min.css}"/>
  <link rel="stylesheet" media="screen" th:href="@{/vendor/tiny-slider/dist/tiny-slider.css}"/>
  <!-- Main Theme Styles + Bootstrap-->
  <link rel="stylesheet" media="screen" th:href="@{/css/theme.min.css}">

  <style type="text/css">
    body {
      z-index: 0
    }

    #bg {
      position: fixed;
      top: 0;
      left: 0;

      /* Preserve aspet ratio */
      min-width: 100%;
      min-height: 100%;
      z-index: -1;
    }

    #bg img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      min-width: 50%;
      min-height: 50%;
    }

    .breadcrumb {
      margin-top: 10vh;
      margin-bottom: 2vh;
      background-color: transparent;
    }

    p {
      width: 95vh;
      overflow-wrap: normal;
    }

    .centered-wrapper {
      position: relative;
      text-align: center;
      align-items: center;
    }

    .centered-wrapper:before {
      content: "";
      position: relative;
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
    }

    .centered-content a {
      display: inline-block;
      vertical-align: middle;
    }

    html, body {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }

    header {
      background-color: #75C154;
    }

    footer {
      background-color: #75C154;
      width: 100%;
    }

    #footer-color {
      background-color: #75C154;
    }

    .nav-padding {
      padding-left: 25px;
      padding-right: 25px;
    }

    #nav-sticky-position {
      position: sticky;
      z-index: 9;
    }

    #popular-tags {
      position: fixed;
      top: 120px;
      margin-left: 380px;
      z-index: 3;
    }

    #main-center-alignment {
      vertical-align: middle;
      horiz-align: center;
    }

    #product-gallery-preview-zindex {
      z-index: 1;
    }

    #page-title-bg {
      background-color: #0f9d58;
      /*background-image: url("../../assets/img/background/bg17.png");*/
    }

    #product-description-align {
      text-align: left;
    }

    #product-page-title {
      width: 100%;
      height: 300px;
    }

    .testimonial {
      padding-bottom: 50px;
    }

    .review-round-margin-top {
      border-radius: 25px 0 0 25px;
    }

    .review-round-margin-bottom {
      border-radius: 0 25px 25px 0;
    }

    /* Loading HighCharts CSS */
    #container-chart {
      height: 300px;
      width: 700px;
    }
    .highcharts-figure,
    .highcharts-data-table table {
      min-width: 310px;
      max-width: 800px;
      margin: 1em auto;
    }
    .highcharts-data-table table {
      font-family: Verdana, sans-serif;
      border-collapse: collapse;
      border: 1px solid #ebebeb;
      margin: 10px auto;
      text-align: center;
      width: 100%;
      max-width: 500px;
    }
    .highcharts-data-table caption {
      padding: 1em 0;
      font-size: 1.2em;
      color: #444;
    }
    .highcharts-data-table th {
      font-weight: 600;
      padding: 0.5em;
    }
    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
      padding: 0.5em;
    }
    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
      background: #f8f8f8;
    }
    .highcharts-data-table tr:hover {
      background: #f1f7ff;
    }
    /* Loading HighCharts CSS done */

    section {
      padding-bottom: 50px;
    }

  </style>
  <!-- /////////////////////////////////  copy this in every file  ///////////////////////////////// -->

</head>



<!-- body starts ** needs a center-wrapper&centered-content due to absence of side-nav -->
<body class="centered-wrapper bg-secondary">

  <div class="centered-content">

    <!-- /////////////////////////////////  Navigation begins ///////////////////////////////// -->
    <!-- Sign in / sign up modal for customer starts -->
    <div class="modal carousel-fade" id="signin-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header bg-secondary">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
              <li class="nav-item"><a class="nav-link fw-medium active" href="#"
                                      data-bs-toggle="tab"
                                      role="tab" aria-selected="true"><i class="ci-unlocked me-2 mt-n1"></i>Sign
                in</a></li>
              <li class="nav-item"><a class="nav-link fw-medium" href="#signup-tab" data-bs-toggle="tab"
                                      role="tab" aria-selected="false"><i class="ci-user me-2 mt-n1"></i>Sign
                up</a></li>
            </ul>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body tab-content py-4">

            <!-- customer form action (sign-in) -->
            <form th:action="@{/customer-signin}" method="post" class="tab-pane fade show active"
                  autocomplete="on" novalidate
                  id="userLoginForm"> <!-- omitted class="needs-validation"  -->
              <a th:href="@{/oauth2/authorization/google}" id="google-login" class="btn-social bs-google d-block w-100">
                <i class="ci-google">
                  <span>Continue with Google</span>
                </i>
              </a>
              <div class="mb-3">
                <label class="form-label" for="id">ID</label>
                <input name="username" class="form-control" type="email" id="loginInInput" placeholder="veganlife123 (pw: 123)"
                       required>
                <!-- <div class="invalid-feedback">Please provide the correct customer ID</div> -->
              </div>
              <div class="mb-3">
                <label class="form-label" for="si-password">Password</label>
                <div class="password-toggle">
                  <input name="password" class="form-control" type="password" id="si-password" autocomplete="on" required>
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox"><span
                          class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>
              <!-- here, when btn is clicked, ajax call for sign in api -->
              <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign in</button>
            </form>

            <!-- customer form action (sign up)-->
            <form th:action="@{/customer-signup}" method="post" class="needs-validation tab-pane fade" autocomplete="on"
                  novalidate id="signup-tab">
              <div class="mb-3">
                <label class="form-label" for="id">ID</label>
                <input class="form-control" type="text" id="signUpInput" placeholder="iVegan123" required>
                <div class="invalid-feedback">Please provide the correct admin ID</div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="su-password">Password</label>
                <div class="password-toggle">
                  <input class="form-control" type="password" id="su-password" autocomplete="on" required>
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox"><span
                          class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="su-password-confirm">Confirm password</label>
                <div class="password-toggle">
                  <input class="form-control" type="password" id="su-password-confirm" autocomplete="on"
                         required>
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox"><span
                          class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>
              <!-- here, when btn is clicked, ajax call for sign up api -->
              <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Sign in / sign up modal for customer ends-->

    <!-- Sign in / sign up modal for admin starts -->
    <div class="modal carousel-fade" id="signin-modal-admin" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header bg-secondary">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
              <li class="nav-item"><a class="nav-link fw-medium active" href="#"
                                      data-bs-toggle="tab"
                                      role="tab" aria-selected="true"><i class="ci-unlocked me-2 mt-n1"></i>Sign
                in</a></li>
            </ul>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body tab-content py-4">

            <!-- admin form action (sign-in) -->
            <form action="admin-signin" method="post" class="tab-pane fade show active"
                  autocomplete="on" novalidate
                  id="adminLoginForm"> <!-- omitted class="needs-validation"  -->
              <div class="mb-3">
                <label class="form-label" for="id">Admin ID</label>
                <input class="form-control" type="email" id="id" placeholder="vegan-admin (pw:1234)"
                       required>
                <!-- <div class="invalid-feedback">Please provide the correct admin user ID</div> -->
              </div>
              <div class="mb-3">
                <label class="form-label" for="si-password2">Password</label>
                <div class="password-toggle">
                  <input class="form-control" type="password" id="si-password2" autocomplete="on" required>
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox"><span
                          class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>
              <!-- here, when btn is clicked, trigger admin login api which will validate the info and forward to the admin/sales view  -->
              <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign in</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Sign in / sign up modal admin ends-->

    <div id="nav-sticky-position">

      <header class="navigation bg-light shadow-sm fixed-top">
        <div id="nav-scroll-fade-in" class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand d-none d-sm-block me-3 me-xl-4 flex-shrink-0" th:href="@{/home}">
              <img th:src="@{/img/logo/GentleGourmetLogo2.png}" width="300" alt="Gentle Gourmet">
            </a>

            <!-- Search-->
            <!--didn't work..
            <form id="searchBarForm" onSubmit="return requestSearch()" method="get"
                  class="input-group d-none d-lg-flex flex-nowrap mx-4">
            -->
            <form id="searchBarForm" th:action="@{/search}" th:object="${productSearch}" method="post"
                  class="input-group d-none d-lg-flex flex-nowrap mx-4">
              <i class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
              <input th:field="*{keyword}" id="searchBar" class="form-control rounded-start w-25" type="text"
                     placeholder="Search for products">
              <select th:field="*{category}" class="form-select flex-shrink-0" style="width: 10rem;">
                <option value="all">All Categories</option>
                <option value="meat">비건 대체 육류</option>
                <option value="dairy">비건 대체 유제품</option>
                <option value="snack">비건 스낵</option>
                <option value="condiment">비건 소스/조미료</option>
              </select>
            </form>


            <!-- Cook & Our Story links -->
            <div class="nav-padding">
              <!-- a link -->
              <a th:href="@{/recipe-list}">
                <!-- icon -->
                <i class="ci-avocado bg-faded-primary"></i>
                <h6 style="color:darkslategrey">Cook</h6>
              </a>
            </div>
            <div class="nav-padding">
              <a th:href="@{/story}">
                <i class="ci-broccoli"></i>
                <h6 style="color:darkslategrey">Story</h6>
              </a>
            </div>

            <!-- Toolbar-->
            <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center ms-xl-2">
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                      data-bs-target="#sideNav"><span
                      class="navbar-toggler-icon"></span></button>
              <a class="navbar-tool d-flex d-lg-none" href="#searchBox" data-bs-toggle="collapse" role="button"
                 aria-expanded="false" aria-controls="searchBox"><span class="navbar-tool-tooltip">Search</span>
                <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-search"></i></div>
              </a>

              <!-- Login Modal (widget) -->
              <!-- if not logged in    -->
              <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" data-bs-toggle="modal" href="#signin-modal">
                <th:block sec:authorize="isAnonymous()">
                  <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-sign-in"></i></div>
                  <div class="navbar-tool-text ms-n3">
                    <small>Sign in</small>Welcome
                  </div>
                </th:block>
                <!-- add logic -> if logged in add <small>Hello, User {유저 이름}</small></div> -->
                <th:block sec:authorize="isAuthenticated()">
                  <a id="signout" th:href="@{/signout}">
                    <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-sign-out"></i></div>
                    <div class="navbar-tool-text ms-n3">
                      <small>Sign Out</small>[[${#authentication.getPrincipal().getName()}]]
                    </div>
                  </a>
                </th:block>
              </a>

              <!-- Admin Login Modal -->
              <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" data-bs-toggle="modal" href="#signin-modal-admin">
                <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-store"></i></div>
                <div class="navbar-tool-text ms-n3">Admin</div>
              </a>

              <!-- Cart Widget starts -->
              <!--<div th:if="${carts}">-->
              <th:block sec:authorize="isAuthenticated()">

                <div class="navbar-tool dropdown ms-3">
                  <a class="navbar-tool-icon-box bg-secondary dropdown-toggle"
                     th:href="@{/checkout}">
                    <span class="navbar-tool-label">[[${carts.size()}]]</span>
                    <i class="navbar-tool-icon ci-cart"></i>
                  </a>
                  <a th:if="${carts}" class="navbar-tool-text" th:href="@{/checkout}"><small>My Cart</small>₩[[${cartsTotalPrice}]]</a>
                  <div class="dropdown-menu dropdown-menu-end">
                    <div class="widget widget-cart px-3 pt-2 pb-3" style="width: 20rem;">
                      <div style="height: 15rem;" data-simplebar data-simplebar-auto-hide="false">

                        <div th:each="cart : ${carts}">

                          <!-- Cart Item Widget -->
                          <div class="widget-cart-item py-2 border-bottom">
                            <!-- add code : removing the cart item -->
                            <button class="btn-close text-danger" type="button" aria-label="Remove">
                              <span aria-hidden="true">&times;</span>
                            </button>
                            <!-- insert cart item's details here -->
                            <div class="d-flex align-items-center">
                              <!-- insert the link to product/product.html/product-id -->
                              <a class="d-block" href="product/product.html">
                                <img th:src="${cart.product.productThumbnailPath}" width="64" alt="Product">
                              </a>
                              <div class="ps-2">
                                <h6 class="widget-product-title"><a href="product/product.html">[[${cart.product.name}]]</a></h6>
                                <div class="widget-product-meta">
                                  <span class="text-accent me-2">₩[[${cart.product.price}]]</span><span
                                        class="text-muted">x [[${cart.quantity}]]</span>

                                </div>
                              </div>
                            </div>
                          </div>

                        </div>

                      </div>

                      <!-- cart summary / to checkout page-->
                      <div class="d-flex flex-wrap justify-content-between align-items-center pt-3">
                        <div class="fs-sm me-2 py-2">
                          <span class="text-muted">Total:</span>
                          <span class="text-accent fs-base ms-1">₩[[${cartsTotalPrice}]]</span>
                        </div>
                        <a class="btn btn-success btn-sm" th:href="@{/checkout}">
                          <i class="ci-card me-2 fs-base align-middle"></i>Checkout<i
                                class="ci-arrow-right ms-1 me-n1"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Cart Widget ends -->

              </th:block>

            </div>
          </div>
        </div>
        <!-- Search collapse-->
        <div class="collapse" id="searchBox">
          <div class="card pt-2 pb-4 border-0 rounded-0">
            <div class="container">
              <div class="input-group">
                <i class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                <input class="form-control rounded-start" type="text" placeholder="Search for products">
              </div>
            </div>
          </div>
        </div>

      </header>

    </div> <!-- nav-bar stikcy position ends -->


    <!-- Tag cloud widget: tags for popular search keywords-->
    <div id="popular-tags" class="widget">
      <p class="class sm" style="color:darkslategrey">Top Search
        <i class="ci-lightning"></i>&nbsp&nbsp

        <span th:each="hashtag : ${hashtagList}">
            #<a th:href="@{/search/{hashtag}(hashtag=${hashtag.keyword})}" class="rounded-pill btn-tag btn-primary btn-shadow mb-2">[[${hashtag.keyword}]]</a>
        </span>

      </p>
    </div>

    <!-- /////////////////////////////////  Navigation ends ///////////////////////////////// -->


    <!-- /////////////////////////////////  Checkout starts ///////////////////////////////// -->
    <main class="main-center-alignment" style="padding-top: 5rem;"> <!-- cancel "class="offcanvas-enabled" so the body covers the whole width -->
      <section class="ps-lg-4 pe-lg-3 pt-4">


        <!-- ////////////////////////////////// Page title & breadcrumbs //////////////////////////////////-->
        <section id="product-page-title" class="ps-lg-3 pe-auto pt-4">
          <div id="page-title-bg" class="page-title-overlap pt-4">
            <div class="container d-lg-flex justify-content-between py-2 py-lg-3">

              <!-- Checkout Success alert -->
              <div th:if="${successMessage}">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <span class="fw-medium">[[${successMessage}]]</span>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>
              <!-- Checkout Failure alert -->
              <div th:if="${failureMessage}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <span class="fw-medium">[[${failureMessage}]]</span>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>

              <!-- Breadcrumbs -->
              <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
                <nav class="mb-4" aria-label="breadcrumb">
                  <ol class="breadcrumb flex-lg-nowrap">
                    <li class="breadcrumb-item"><a class="text-nowrap text-light" th:href="@{/home}"><i class="ci-home"></i>Home</a></li>

                    <li class="breadcrumb-item text-nowrap active text-light" aria-current="page">Product</li>
                  </ol>
                </nav>
              </div>

              <!-- page title -->
              <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
                <h1 class="h1 text-light mb-0">Checkout</h1>
              </div>

            </div>
          </div>
        </section>


        <div class="px-3 pt-2">

          <!-- Checkout form-->
          <form class="needs-validation" novalidate>

            <div class="row"> <!-- this row has two sections (1.left)list of Cart items (2.right)Total + apply point + insert credit card -->

              <!-- ////////////////////////////////// (1.left)Cart Items ////////////////////////////////// -->
              <section class="col-lg-6 bg-transparent">
                <div class="d-flex justify-content-between align-items-center pt-3 pb-4 pb-sm-5 mt-1">
                  <h2 class="text-center text-light mb-0">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Your Cart</h2>
                </div>
                <!-- here, for each items in the tmp list, run for-loop and print out "Item" -->

              <!--<div th:each="each : {}"> -->
                <div th:each="cart : ${carts}" class="cart-items-vertical">

                  <!-- Item starts -->
                  <div class="d-sm-flex justify-content-between align-items-center my-2 pb-3 border-bottom">
                    <!-- insert the link to (1) each product page & (2) img file loc-->
                    <div class="d-block d-sm-flex align-items-center text-center text-sm-start"><a class="d-inline-block flex-shrink-0 mx-auto me-sm-4" th:href="@{/product/{productId}(productId=${cart.product.id})}"><img th:src="${cart.product.productThumbnailPath}" width="160" alt="Product"></a>
                      <div class="pt-2">

                        <!-- insert the link to each product page ie. ../product/product.html?productId={} -->
                        <h3 class="product-title fs-base mb-2"><a th:href="@{/product/{productId}(productId=${cart.product.id})}">[[${cart.product.name}]]</a></h3>
                        <div class="fs-sm"><span class="text-muted me-2">카테고리 : </span>[[${cart.product.category.name}]]</div>
                        <div class="fs-sm"><span class="text-muted me-2">브랜드 : <a th:href="@{/brand/{brandId}(brandId=${cart.product.brand.id})}"></span>[[${cart.product.brand.name}]]</div></a>
                        <div class="fs-lg text-accent pt-2">₩[[${cart.product.price}]]</div>
                      </div>
                    </div>

                    <div class="pt-2 pt-sm-0 ps-sm-3 mx-auto mx-sm-0 text-center text-sm-start" style="max-width: 9rem;">
                      <label class="form-label">Quantity</label>
                      <input class="form-control" type="number" min="1" value="1">
                    </div>
                  </div>

                </div>
                <!-- Item ends-->
              <!--</div>-->

                <!-- empty cart button -->
                <button class="btn btn-outline-accent d-block w-100 mt-4" type="button"><i class="ci-loading fs-base me-2"></i>Empty cart</button>
              </section>


              <!--  ////////////////////////////////// (2.right)Total + apply point + credit card //////////////////////////////////  -->
              <aside class="col-lg-6 pt-4 pt-lg-0 ps-xl-5">
                <div class="bg-white rounded-3 shadow-lg p-4">

                  <!-- Total -->
                  <div class="py-2 px-xl-2">

                    <div class="text-center mb-4 pb-3 border-bottom">
                      <h2 class="h5 pb-3">Total</h2>
                      <ul class="list-unstyled fs-sm pt-4 pb-2 border-bottom">

                        <!-- retrieve the cart sum price -->
                        <li class="d-flex justify-content-between align-items-center"><span class="me-2">Subtotal:</span><span class="text-end fw-medium">₩[[${cartsTotalPrice}]]</span></li>

                        <!-- insert the point applied from above, if any -->
                        <li class="d-flex justify-content-between align-items-center"><span class="me-2">Points Applied:</span><span class="text-end fw-medium">- ₩0</span></li>
                      </ul>

                        <div class="accordion" id="order-options">

                          <!-- Apply User Point -->
                          <div class="accordion-item" style="margin-bottom: 30px">
                            <h3 class="accordion-header"><a class="accordion-button" href="#user-point" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="user-point">Apply User Point</a></h3>
                            <div class="accordion-collapse collapse show" id="user-point" data-bs-parent="#order-options">
                              <form class="accordion-body needs-validation" method="post" novalidate="">
                                <div class="mb-3">
                                  <input class="form-control" type="text" placeholder="Check points available" required="" value="">
                                  <div class="invalid-feedback">error has occurred while checking user points</div>
                                </div>
                              </form>

                              <!--
                                here, on btn click,
                                1) show a popup asking for user confirmation "you have 3500 points, would you like to use it?"
                                2) after confirmation, insert the points in <input value="3500">
                              -->
                              <button class="btn btn-info btn-shadow d-block w-100">Check my points</button>
                            </div>
                          </div>
                        </div>
                      <!-- insert total cost - calculate directly -->
                      <h3 class="fw-normal text-center my-4 py-2">₩[[${cartsTotalPrice}]]</h3>

                    </div>

                    <!-- Place Order -->
                    <a href="javascript:requestPay();" class="btn btn-success btn-shadow d-block w-100 mt-4"><i class="ci-card fs-lg me-2"></i>Proceed to Checkout<i class="ci-arrow-right mt-sm-0 ms-1"></i></a>
                  </div>


                </div>
              </aside>

            </div>
          </form>
        </div>
      </section>
    </main> <!-- cancel "class="offcanvas-enabled" so the body covers the whole width -->
    <!-- /////////////////////////////////  Checkout ends ///////////////////////////////// -->

  </div> <!-- centered content ends -->

  <!-- Footer starts-->
  <footer id="footer-color" class="footer pt-5">
    <div class="container">

      <div class="container">
        <div class="row pb-3">
          <div class="col-md-3 col-sm-6 mb-4">
            <div class="d-flex"><img th:src="@{/img/logo/java.png}" width="75">
              <div class="ps-3">
                <h6 class="fs-base text-light mb-1">Java Programming</h6>

              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
            <div class="d-flex"><img th:src="@{/img/logo/spring-boot-2.png}" width="75">
              <div class="ps-3">
                <h6 class="fs-base text-light mb-1">Spring Boot</h6>

              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
            <div class="d-flex"><img th:src="@{/img/logo/jpa.png}" width="75">
              <div class="ps-3">
                <h6 class="fs-base text-light mb-1">Java Persistance API</h6>

              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
            <div class="d-flex">
              <div class="ps-3">
                <h6 class="fs-base text-light mb-1"><< insert other tech used</h6>

              </div>
            </div>
          </div>
        </div>
        <hr class="hr-light mb-5">
        <div class="row pb-2">
          <div class="col-md-6 text-center text-md-start mb-4">
            <div class="text-nowrap mb-4"><a class="d-inline-block align-middle mt-n1 me-3"
                                             href="#"><img
                    class="d-block" th:src="@{/img/logo/GentleGourmetLogo2.png}" width="300"
                    alt="Gentle Gourmet"></a>
            </div>
            <div class="widget widget-links widget-light">
              <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
                <li class="widget-list-item me-4"><a class="widget-list-link"
                                                     href="https://edu.kosta.or.kr/">KOSTA
                  코스타</a></li>
                <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Support</a>
                </li>
                <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Privacy</a>
                </li>
                <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Terms
                  of use</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 text-center text-md-end mb-4">
            <div class="mb-3"><a class="btn-social bs-light bs-twitter ms-2 mb-2" href="#"><i
                    class="ci-twitter"></i></a><a
                    class="btn-social bs-light bs-facebook ms-2 mb-2"
                    href="#"><i class="ci-facebook"></i></a><a
                    class="btn-social bs-light bs-instagram ms-2 mb-2" href="#"><i
                    class="ci-instagram"></i></a><a
                    class="btn-social bs-light bs-pinterest ms-2 mb-2" href="#"><i
                    class="ci-pinterest"></i></a><a
                    class="btn-social bs-light bs-youtube ms-2 mb-2" href="#"><i
                    class="ci-youtube"></i></a>
            </div>
            <img class="d-inline-block" th:src="@{/img/etc/cards-alt.png}" width="187"
                 alt="Payment methods">
          </div>
        </div>
        <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">© All rights
          reserved. Made by
          <a class="text-light" href="https://createx.studio/" target="_blank" rel="noopener">개발자
            오다윗</a>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer ends -->



  <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll data-fixed-element><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
  <!-- Vendor scrits: js libraries and plugins-->
  <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/simplebar/dist/simplebar.min.js"></script>
  <script src="/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
  <script src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
  <!-- jQuery for iamport.payment.js -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
  <!-- iamport.payment.js -->
  <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
  <!-- Main theme script-->
  <script src="/js/theme.min.js"></script>


  <!-- javascript variables for payment (iamport) here -->
    <script th:inline="javascript">
      /*<![CDATA[*/
      //var firstProductName = /*[[${firstProductName}]]*/;
      var cartsTotalPrice = /*[[${cartsTotalPrice}]]*/;
      var customerUsername = /*[[${customerUsername}]]*/;
      var purchaseId = /*[[${purchaseId}]]*/
      /*]]>*/
    </script>

  <!-- iamport code -->
  <script type="text/javascript">
    const IMP = window.IMP;
    IMP.init('imp74732804');

    function requestPay() {
      IMP.request_pay({
        pg: "html5_inicis",
        pay_method: "card",
        merchant_uid: purchaseId,
        name: "Vegan Store Gentle Gourmet Products", /*firstProductName*/
        amount: cartsTotalPrice.toString(),
        buyer_name: customerUsername.toString(),
        buyer_email: "davidoh@zmail.com",
        buyer_tel: "999-9999-9999",
        buyer_addr: "South Korea",
        buyer_postcode: "99999"
      }, function(rsp){
        if(rsp.success){
          $.ajax({ //jQuery ajax
            url: "/checkout/complete",
            type: "POST",
            contentType: "application/json",
            dataType:"json",
            data: JSON.stringify({
              imp_uid: rsp.imp_uid,
              merchant_uid: rsp.merchant_uid,
              buyer_name : rsp.buyer_name,
            })
          }).done(function(){ //on callback success
            alert("Payment successful :)");
          })
        }else { //on callback failure
          alert("Failed to process the payment :( : " + rsp.error_msg);
        }
      });

    } //requestPay() ends
  </script>


  <!--search bar trigger on enter key-->
  <script type="text/javascript">
    $(document).ready(function () {

      <!-- trigger form submit on enter key event -->
      $("#searchBar").keyup(function (event) {
        console.log("keyboard event on searchBar -> ", event.key);
        if (event.which === 13) {
          event.preventDefault();
          $("#searchBarForm").submit();
        }
      });

    });
  </script>


</body>
</html>