<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gentle Gourmet | Recipe</title>
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shorcut icon" th:href="@{/img/etc/vegan-logo3.png}">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" th:href="@{/vendor/simplebar/dist/simplebar.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/vendor/tiny-slider/dist/tiny-slider.css}"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" th:href="@{/css/theme.min.css}">

    <style type="text/css">
        /* add custom font (1) */
        @font-face {
            font-family: 'yg-jalnan';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        body {
            /* add custom font (2) */
            font-family: "yg-jalnan", "sans-serif" !important;
            z-index: 0
        }

        #bg {
            position: fixed;
            top: 0;
            left: 0;

            /* Preserve aspet ratio */
            min-width: 100%;
            min-height: 100%;
            z-index: -1;
        }

        #bg img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            min-width: 50%;
            min-height: 50%;
        }

        .breadcrumb {
            margin-top: 10vh;
            margin-bottom: 2vh;
            background-color: transparent;
        }

        .title-and-pic {
            display: flex;
            flex-direction: row;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .adjust-recipe-img {
            width: 500px;
            height: 500px;
        }

        p {
            width: 95vh;
            overflow-wrap: normal;
        }

        .add-padding {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .centered-wrapper {
            position: relative;
            text-align: center;
            align-items: center;
        }

        .centered-wrapper:before {
            content: "";
            position: relative;
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
        }

        .centered-content a {
            display: inline-block;
            vertical-align: middle;
        }

        html, body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }

        header {
            background-color: #75C154;
        }

        footer {
            background-color: #75C154;
            width: 100%;
        }

        .gallery {
            padding-left: 50px;
        }

        .list-group-item {
            background-color: transparent;
        }

        #footer-color {
            background-color: #75C154;
        }

        #move-to-right {
            alignment: left;
        }

        #increase-height {
            min-height: 70%;
        }

        .nav-padding {
            padding-left: 25px;
            padding-right: 25px;
        }

        #main-extra-padding {
            padding-top: 120px;
            padding-left: 20px;
        }

        #side-nav-extra-padding {
            margin-top: 50px;
        }

        #main-sticky-position {
            position: sticky;
            z-index: 0;
        }

        #side-nav-sticky-position {
            position: sticky;
            z-index: 1;
        }

        #nav-sticky-position {
            position: sticky;
            z-index: 2;
        }

        #popular-tags {
            position: fixed;
            top: 120px;
            margin-left: 380px;
            z-index: 3;
        }

        #videosList {
            width: 100% !important;
            height: auto !important;
            border-radius: 200px;
            overflow: hidden;
            /*-webkit-transform: translateZ(0);*/
            box-shadow: 0 19px 51px 0 rgba(0, 0, 0, 0.16), 0 14px 19px 0 rgba(0, 0, 0, 0.07);
        }

        #theVideo {
            /*background: url('../assets/img/logo/GentleGourmetLogo_darkbg.jpg');*/
            width: 100% !important;
            height: auto !important;
            margin-bottom: -30px;
        }

        #flex-grid {
            display: flex;
        }

        /* must set size for carousel images */
        .card-img-top {
            width: 100%;
            height: 20vw;
            object-fit: cover;
        }

        .recipe-images {
            min-height: 400px;
        }
    </style>

</head>

<body class="centered-wrapper bg-secondary">


<!-- /////////////////////////////////  Navigation begins ///////////////////////////////// -->
<!-- Sign in / sign up modal for customer starts -->
<div class="modal carousel-fade" id="signin-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                    <li class="nav-item"><a class="nav-link fw-medium active" href="#"
                                            data-bs-toggle="tab"
                                            role="tab" aria-selected="true"><i class="ci-unlocked me-2 mt-n1"></i>Sign
                        in</a></li>
                    <li class="nav-item"><a class="nav-link fw-medium" href="#signup-tab" data-bs-toggle="tab"
                                            role="tab" aria-selected="false"><i class="ci-user me-2 mt-n1"></i>Sign
                        up</a></li>
                </ul>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body tab-content py-4">

                <!-- customer form action (sign-in) -->
                <form th:action="@{/customer-signin}" method="post" class="tab-pane fade show active"
                      autocomplete="on" novalidate
                      id="userLoginForm"> <!-- omitted class="needs-validation"  -->
                    <a th:href="@{/oauth2/authorization/google}" id="google-login" class="btn-social bs-google d-block w-100">
                        <i class="ci-google">
                            <span>Continue with Google</span>
                        </i>
                    </a>
                    <div class="mb-3">
                        <label class="form-label" for="id">ID</label>
                        <input name="username" class="form-control" type="email" id="loginInInput" placeholder="veganlife123 (pw: 123)"
                               required>
                        <!-- <div class="invalid-feedback">Please provide the correct customer ID</div> -->
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="si-password">Password</label>
                        <div class="password-toggle">
                            <input name="password" class="form-control" type="password" id="si-password" autocomplete="on" required>
                            <label class="password-toggle-btn" aria-label="Show/hide password">
                                <input class="password-toggle-check" type="checkbox"><span
                                    class="password-toggle-indicator"></span>
                            </label>
                        </div>
                    </div>
                    <!-- here, when btn is clicked, ajax call for sign in api -->
                    <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign in</button>
                </form>

                <!-- customer form action (sign up)-->
                <form th:action="@{/customer-signup}" method="post" class="needs-validation tab-pane fade" autocomplete="on"
                      novalidate id="signup-tab">
                    <div class="mb-3">
                        <label class="form-label" for="id">ID</label>
                        <input class="form-control" type="text" id="signUpInput" placeholder="iVegan123" required>
                        <div class="invalid-feedback">Please provide the correct admin ID</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="su-password">Password</label>
                        <div class="password-toggle">
                            <input class="form-control" type="password" id="su-password" autocomplete="on" required>
                            <label class="password-toggle-btn" aria-label="Show/hide password">
                                <input class="password-toggle-check" type="checkbox"><span
                                    class="password-toggle-indicator"></span>
                            </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="su-password-confirm">Confirm password</label>
                        <div class="password-toggle">
                            <input class="form-control" type="password" id="su-password-confirm" autocomplete="on"
                                   required>
                            <label class="password-toggle-btn" aria-label="Show/hide password">
                                <input class="password-toggle-check" type="checkbox"><span
                                    class="password-toggle-indicator"></span>
                            </label>
                        </div>
                    </div>
                    <!-- here, when btn is clicked, ajax call for sign up api -->
                    <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign up</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Sign in / sign up modal for customer ends-->

<!-- Sign in / sign up modal for admin starts -->
<div class="modal carousel-fade" id="signin-modal-admin" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                    <li class="nav-item"><a class="nav-link fw-medium active" href="#"
                                            data-bs-toggle="tab"
                                            role="tab" aria-selected="true"><i class="ci-unlocked me-2 mt-n1"></i>Sign
                        in</a></li>
                </ul>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body tab-content py-4">

                <!-- admin form action (sign-in) -->
                <form action="admin-signin" method="post" class="tab-pane fade show active"
                      autocomplete="on" novalidate
                      id="adminLoginForm"> <!-- omitted class="needs-validation"  -->
                    <div class="mb-3">
                        <label class="form-label" for="id">Admin ID</label>
                        <input class="form-control" type="email" id="id" placeholder="vegan-admin (pw:1234)"
                               required>
                        <!-- <div class="invalid-feedback">Please provide the correct admin user ID</div> -->
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="si-password2">Password</label>
                        <div class="password-toggle">
                            <input class="form-control" type="password" id="si-password2" autocomplete="on" required>
                            <label class="password-toggle-btn" aria-label="Show/hide password">
                                <input class="password-toggle-check" type="checkbox"><span
                                    class="password-toggle-indicator"></span>
                            </label>
                        </div>
                    </div>
                    <!-- here, when btn is clicked, trigger admin login api which will validate the info and forward to the admin/sales view  -->
                    <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Sign in / sign up modal admin ends-->

<div id="nav-sticky-position">

    <header class="navigation bg-light shadow-sm fixed-top">
        <div id="nav-scroll-fade-in" class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand d-none d-sm-block me-3 me-xl-4 flex-shrink-0" th:href="@{/home}">
                    <img th:src="@{/img/logo/GentleGourmetLogo2.png}" width="300" alt="Gentle Gourmet">
                </a>

                <!-- Search-->
                <form id="searchBarForm" action="search-keyword" method="POST"
                      class="input-group d-none d-lg-flex flex-nowrap mx-4">
                    <i class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                    <input id="searchBar" class="form-control rounded-start w-25" type="text"
                           placeholder="Search for products">
                    <select class="form-select flex-shrink-0" style="width: 10rem;">
                        <option value="all">All Categories</option>
                        <option value="meat">비건 대체 육류</option>
                        <option value="dairy">비건 대체 유제품</option>
                        <option value="snack">비건 스낵</option>
                        <option value="condiment">비건 소스/조미료</option>
                    </select>
                </form>


                <!-- Cook & Our Story links -->
                <div class="nav-padding">
                    <!-- a link -->
                    <a th:href="@{/recipe-list}">
                        <!-- icon -->
                        <i class="ci-avocado bg-faded-primary"></i>
                        <h6 style="color:darkslategrey">Cook</h6>
                    </a>
                </div>
                <div class="nav-padding">
                    <a th:href="@{/story}">
                        <i class="ci-broccoli"></i>
                        <h6 style="color:darkslategrey">Story</h6>
                    </a>
                </div>

                <!-- Toolbar-->
                <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center ms-xl-2">
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#sideNav"><span
                            class="navbar-toggler-icon"></span></button>
                    <a class="navbar-tool d-flex d-lg-none" href="#searchBox" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="searchBox"><span class="navbar-tool-tooltip">Search</span>
                        <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-search"></i></div>
                    </a>

                    <!-- Login Modal (widget) -->
                    <!-- if not logged in    -->
                    <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" data-bs-toggle="modal" href="#signin-modal">
                        <th:block sec:authorize="isAnonymous()">
                            <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-sign-in"></i></div>
                            <div class="navbar-tool-text ms-n3">
                                <small>Sign in</small>Welcome
                            </div>
                        </th:block>
                        <!-- add logic -> if logged in add <small>Hello, User {유저 이름}</small></div> -->
                        <th:block sec:authorize="isAuthenticated()">
                            <a id="signout" th:href="@{/signout}">
                                <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-sign-out"></i></div>
                                <div class="navbar-tool-text ms-n3">
                                    <small>Sign Out</small>[[${#authentication.getPrincipal().getName()}]]
                                </div>
                            </a>
                        </th:block>
                    </a>

                    <!-- Admin Login Modal -->
                    <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" data-bs-toggle="modal" href="#signin-modal-admin">
                        <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-store"></i></div>
                        <div class="navbar-tool-text ms-n3">Admin</div>
                    </a>

                    <!-- Cart Widget starts -->
                    <div class="navbar-tool dropdown ms-3">
                        <a class="navbar-tool-icon-box bg-secondary dropdown-toggle"
                           th:href="@{/checkout.html}">
                            <span class="navbar-tool-label">{ 카트 아이템 수 }</span>
                            <i class="navbar-tool-icon ci-cart"></i>
                        </a>
                        <a class="navbar-tool-text" href="order/checkout.html"><small>My Cart</small>₩{ 총금액
                            }</a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <div class="widget widget-cart px-3 pt-2 pb-3" style="width: 20rem;">
                                <div style="height: 15rem;" data-simplebar data-simplebar-auto-hide="false">

                                    <!-- Cart Item Widget -->
                                    <!-- for all items in the cart, for loop the below : -->
                                    <div class="widget-cart-item py-2 border-bottom">
                                        <!-- add code : removing the cart item -->
                                        <button class="btn-close text-danger" type="button" aria-label="Remove">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <!-- insert cart item's details here -->
                                        <div class="d-flex align-items-center">
                                            <!-- insert the link to product/product.html/product-id -->
                                            <a class="d-block" href="product/product.html">
                                                <img src="../save/product/product1.png" width="64" alt="Product">
                                            </a>
                                            <div class="ps-2">
                                                <h6 class="widget-product-title"><a href="product/product.html">{ 카트
                                                    아이템 이름 }</a></h6>
                                                <div class="widget-product-meta">
                                                    <span class="text-accent me-2">₩{ 아이템 가격 }</span><span
                                                        class="text-muted">x { 아이템 갯수 }</span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Cart Item Widget -->
                                    <!-- for all items in the cart, for loop the below : -->
                                    <div class="widget-cart-item py-2 border-bottom">
                                        <!-- add code : removing the cart item -->
                                        <button class="btn-close text-danger" type="button" aria-label="Remove">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <!-- insert cart item's details here -->
                                        <div class="d-flex align-items-center">
                                            <!-- insert the link to product/product.html/product-id -->
                                            <a class="d-block" href="product/product.html">
                                                <img src="../save/product/product1.png" width="64" alt="Product">
                                            </a>
                                            <div class="ps-2">
                                                <h6 class="widget-product-title"><a href="product/product.html">{ 카트
                                                    아이템 이름 }</a></h6>
                                                <div class="widget-product-meta">
                                                    <span class="text-accent me-2">₩{ 아이템 가격 }</span><span
                                                        class="text-muted">x { 아이템 갯수 }</span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Cart Item Widget -->
                                    <!-- for all items in the cart, for loop the below : -->
                                    <div class="widget-cart-item py-2 border-bottom">
                                        <!-- add code : removing the cart item -->
                                        <button class="btn-close text-danger" type="button" aria-label="Remove">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <!-- insert cart item's details here -->
                                        <div class="d-flex align-items-center">
                                            <!-- insert the link to product/product.html/product-id -->
                                            <a class="d-block" href="product/product.html">
                                                <img src="../save/product/product1.png" width="64" alt="Product">
                                            </a>
                                            <div class="ps-2">
                                                <h6 class="widget-product-title"><a href="product/product.html">{ 카트
                                                    아이템 이름 }</a></h6>
                                                <div class="widget-product-meta">
                                                    <span class="text-accent me-2">₩{ 아이템 가격 }</span><span
                                                        class="text-muted">x { 아이템 갯수 }</span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!-- cart summary / to checkout page-->
                                <div class="d-flex flex-wrap justify-content-between align-items-center pt-3">
                                    <div class="fs-sm me-2 py-2">
                                        <span class="text-muted">Total:</span>
                                        <span class="text-accent fs-base ms-1">₩{ 총 가격 }</span>
                                    </div>
                                    <a class="btn btn-success btn-sm" href="order/checkout.html">
                                        <i class="ci-card me-2 fs-base align-middle"></i>Checkout<i
                                            class="ci-arrow-right ms-1 me-n1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Cart Widget ends -->

                </div>
            </div>
        </div>
        <!-- Search collapse-->
        <div class="collapse" id="searchBox">
            <div class="card pt-2 pb-4 border-0 rounded-0">
                <div class="container">
                    <div class="input-group">
                        <i class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                        <input class="form-control rounded-start" type="text" placeholder="Search for products">
                    </div>
                </div>
            </div>
        </div>

    </header>

</div> <!-- nav-bar stikcy position ends -->

<!-- Tag cloud widget: tags for popular search keywords-->
<div id="popular-tags" class="widget">
    <p class="class sm" style="color:darkslategrey">Top Search
        <i class="ci-lightning"></i>&nbsp&nbsp

        <span th:each="hashtag : ${hashtagList}">
            #<a th:href="@{/search/{hashtag}(hashtag=${hashtag.keyword})}" class="rounded-pill btn-tag btn-primary btn-shadow mb-2">[[${hashtag.keyword}]]</a>
        </span>

    </p>
</div>
<!-- /////////////////////////////////  Navigation ends ///////////////////////////////// -->


<div class="centered-content">
    <img id="bg" th:src="@{/img/background/bg15.jpg}">

    <!-- ///////////////////////////////// Recipe begins /////////////////////////////////-->
    <div class="py-4">
        <div id="move-to-right" class="container d-lg-flex justify-content-between py-2 py-lg-3">
            <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
                        <li class="breadcrumb-item"><a class="text-nowrap" href="recipe-list.html"><i
                                class="ci-view-list"></i>Recipe List</a>
                        </li>
                        <li class="breadcrumb-item text-nowrap active" aria-current="page">Recipe</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container pb-5 mb-2 mb-md-4">

        <!-- /////////////////////////////////  recipe title, info and pic ///////////////////////////////// -->
        <section class="title-and-pic">
            <!-- Description list basic example -->
            <div>
                <h1 class="display-2">[[${recipe.name}]]</h1>
                <dl>
                    <dt class="fs-xl">Serving</dt>
                    <dd class="fs-xl">[[${recipe.serving}]]</dd>
                    <dt class="fs-xl">Prep Time</dt>
                    <dd class="fs-xl">[[${recipe.prep}]]</dd>
                    <dt class="fs-xl">Cook Time</dt>
                    <dd class="fs-xl">[[${recipe.cook}]]</dd>
                </dl>
            </div>
            <div>
                <!-- Image gallery -->
                <div class="gallery">
                    <a href="" class="adjust-recipe-img gallery-item rounded-3"
                       data-sub-html='<h6 class="fs-sm text-light">Gallery image caption</h6>'>
                        <img th:src="${recipe.recipeThumbnailPath}" alt="Gallery thumbnail">
                    </a>
                </div>
            </div>
        </section>

        <!-- /////////////////////////////////  Ingredients / Preparation ///////////////////////////////// -->
        <!-- Nav tabs -->
        <ul id="tab-to-center" class="nav nav-tabs" role="tablist">
            <li class="add-space-btw nav-item">
                <a href="#home1" class="nav-link active fs-2" data-bs-toggle="tab" role="tab">
                    <i class="ci-pumpkin me-2 fs-1"></i>
                    <!--                <i class="ci-list me-2"></i>-->
                    <div class="btn-group" role="group" aria-label="Solid button group">
                        <button type="button" class="btn bg-faded-danger btn-shadow fs-3">Ingredients</button>
                    </div>
                </a>
            </li>
            <li class="add-space-btw nav-item">
                <a href="#profile1" class="nav-link fs-2" data-bs-toggle="tab" role="tab">
                    <i class="ci-list me-2"></i>
                    <div class="btn-group" role="group" aria-label="Solid button group">
                        <button type="button" class="btn bg-faded-danger btn-shadow fs-3">Preparation</button>
                    </div>
                </a>
            </li>
        </ul>

        <!-- Tabs content -->
        <div class="add-padding tab-content">
            <div class="tab-pane fade show active fs-3" id="home1" role="tabpanel">
                <!-- Flush list group -->
                <ul th:each="ingredient : ${recipe.ingredientList}" id="change-transparent" class="list-group list-group-flush">
                    <li class="list-group-item">[[${ingredient}]]</li>
                </ul>
            </div>
            <div class="tab-pane fade fs-3" id="profile1" role="tabpanel">
                <!-- Flush list group -->
                <p>
                    { ** Need to add column for recipe description **  ** Need to add column for recipe description **  ** Need to add column for recipe description ** ** Need to add column for recipe description ** ** Need to add column for recipe description ** ** Need to add column for recipe description ** }
                </p>
            </div>
        </div>

        <!--  related product image, product name, link to that product page  -->
        <div class="add-padding">
            <!-- Image gallery -->
            <div class="gallery">
                <a th:href="@{/product/{productId}(productId=${recipe.product.id})}" class="adjust-recipe-img gallery-item rounded-3"
                   data-sub-html='<h6 class="fs-sm text-light">Gallery image caption</h6>'>
                    <img th:src="${recipe.product.productThumbnailPath}" alt="Gallery thumbnail">
                </a>
            </div>

            <h1 class="fs-4 text-muted">Features :</h1>
            <h1 class="fs-3">[[${recipe.product.name}]]</h1><br>
            <a th:href="@{/product/{productId}(productId=${recipe.product.id})}">
                <button type="button" class="btn btn-info btn-shadow fs-3">Go to Product</button>
            </a>
        </div>


        <!-- ///////////////////////////////////////////  Ingredients / Preparation  ///////////////////////////////////////////////-->

        <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span
            class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i
            class="btn-scroll-top-icon ci-arrow-up"> </i></a>

    </div>
    <!-- ///////////////////////////////// Recipe List ends /////////////////////////////////-->

</div>

<!-- Footer starts-->
<footer id="footer-color" class="footer pt-5">
    <div class="container">

        <div class="container">
            <div class="row pb-3">
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex"><img th:src="@{/img/logo/java.png}" width="75">
                        <div class="ps-3">
                            <h6 class="fs-base text-light mb-1">Java Programming</h6>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex"><img th:src="@{/img/logo/spring-boot-2.png}" width="75">
                        <div class="ps-3">
                            <h6 class="fs-base text-light mb-1">Spring Boot</h6>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex"><img th:src="@{/img/logo/jpa.png}" width="75">
                        <div class="ps-3">
                            <h6 class="fs-base text-light mb-1">Java Persistance API</h6>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex">
                        <div class="ps-3">
                            <h6 class="fs-base text-light mb-1"><< insert other tech used</h6>

                        </div>
                    </div>
                </div>
            </div>
            <hr class="hr-light mb-5">
            <div class="row pb-2">
                <div class="col-md-6 text-center text-md-start mb-4">
                    <div class="text-nowrap mb-4"><a class="d-inline-block align-middle mt-n1 me-3"
                                                     href="#"><img
                            class="d-block" th:src="@{/img/logo/GentleGourmetLogo2.png}" width="300"
                            alt="Gentle Gourmet"></a>
                    </div>
                    <div class="widget widget-links widget-light">
                        <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
                            <li class="widget-list-item me-4"><a class="widget-list-link"
                                                                 href="https://edu.kosta.or.kr/">KOSTA
                                코스타</a></li>
                            <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Support</a>
                            </li>
                            <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Privacy</a>
                            </li>
                            <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Terms
                                of use</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 text-center text-md-end mb-4">
                    <div class="mb-3"><a class="btn-social bs-light bs-twitter ms-2 mb-2" href="#"><i
                            class="ci-twitter"></i></a><a
                            class="btn-social bs-light bs-facebook ms-2 mb-2"
                            href="#"><i class="ci-facebook"></i></a><a
                            class="btn-social bs-light bs-instagram ms-2 mb-2" href="#"><i
                            class="ci-instagram"></i></a><a
                            class="btn-social bs-light bs-pinterest ms-2 mb-2" href="#"><i
                            class="ci-pinterest"></i></a><a
                            class="btn-social bs-light bs-youtube ms-2 mb-2" href="#"><i
                            class="ci-youtube"></i></a>
                    </div>
                    <img class="d-inline-block" th:src="@{/img/etc/cards-alt.png}" width="187"
                         alt="Payment methods">
                </div>
            </div>
            <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">© All rights
                reserved. Made by
                <a class="text-light" href="https://createx.studio/" target="_blank" rel="noopener">개발자
                    오다윗</a>
            </div>
        </div>
    </div>
</footer>
<!-- Footer ends -->

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- Vendor scripts: js libraries and plugins-->
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/simplebar/dist/simplebar.min.js"></script>
<script src="/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<!-- Main theme script-->
<script src="/js/theme.min.js"></script>


</body>

</html>